sqlalchemy==2.0.36
alembic==1.14.0
psycopg[binary]==3.2.3
pgvector==0.3.6
pydantic-settings==2.7.0
streamlit==1.41.1
pytest==8.3.4
langgraph==0.2.60
langchain-core==0.3.28
langchain-groq==0.2.2
langchain-ollama==0.2.2
pypdf==5.1.0
langchain-google-genai==2.0.7
